:root {
    /* color pallete */


    /* font sizes */
    --font-medium : 17px;

    /* padding */


}

* {
    color: white;
    padding: 0;
    transition-duration: 0.1s;

}



.hidden {
    display: none;
}

li, ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    font-family: Georama;
}


body {
    font-family: 'Georama', sans-serif;
    background-size: cover;
    height: 85vh;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin: 10vh 0 0 0;
    background-attachment: fixed;
    background-position: center;
}

h2#clock {
    font-size: 65px;
    margin: 6vh 0 6vh 0;
}

#login-form button {
    height: 40px;
    cursor: pointer;
    color: black;
    border-radius: 4px;
    padding : 0 5px 0 5px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.6);
}

.greeting {
    margin: 3vh 0 3vh 0;
}

input {
    border-top : none;
    border-left: none;
    border-right: none;
    border-bottom: 0.6px solid white;
    background-color: transparent;
    height: 40px;
    width: 300px;
}

input:focus {
    outline: none;
}
::placeholder {
    color : white;
    font-size : 14px;
    font-family: Georama;
}

#todo {
    margin: 3vh 0 3vh 0;
}
#todo-list {
    max-height: 33vh;
    overflow-y:auto;
    
}

#todo-list li {
    width : 300px;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    margin-right: 6px;
}

#todo-list li span {
    width: 270px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

#todo-list li button {
    border-radius: 4px;
    border : solid 0.7px white;
    color : white;
    width: 18px;
    cursor: pointer;
}

footer {
    margin: 2vh 0 2vh 0;
}

#clearall {
    height: 5vh;
    width: 5vw;
    cursor: pointer;
    position: fixed;
    top : 50px;
    right:50px;
    align-items: baseline;
}

#todo-list::-webkit-scrollbar {
    width: 5px;
}

#todo-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 3px;
}

#todo-list::-webkit-scrollbar-track {
    background-color: transparent;
}